<nav class="nav-item flex-column">
    <NavLink href="/" classs="nav-link">Home</NavLink>
    <NavLink href="/about" classs="nav-link">About</NavLink>
    <NavLink href="/projects" classs="nav-link">Projects</NavLink>
    <NavLink href="/contact" classs="nav-link">Contact</NavLink>
</nav>