@using PortfolioWebsite.Components
@page "/projects"

<h1 class="text-center mb-4">My Projects</h1>

<div class="row">
    <div class="col-md-6 mb-4">
        <ProjectCard Title="Speedo-mile" Description="Bus route project for Lahore"
                     ImageUrl="images/speedo.png" ProjectLink="https://github.com/hamaildurrani/speedo-mile" />
    </div>

    <div class="col-md-6 mb-4">
        <ProjectCard Title="Expense Tracker" Description="Calculate the daily expense"
                     ImageUrl="images/expense.png" ProjectLink="https://github.com/hamaildurrani/Expense-Tracker" />
    </div>

    <div class="col-md-6 mb-4">
        <ProjectCard Title="Employee Timesheet Tracker" Description="Console App for employee timesheet tracker"
                     ImageUrl="images/employee.png" ProjectLink="https://github.com/hamaildurrani/EmployeeTimesheetTracker" />
    </div>

    <div class="col-md-6 mb-4">
        <ProjectCard Title="Guess The Number Game" Description="Console App for guess the number game"
                     ImageUrl="images/game.png" ProjectLink="https://github.com/hamaildurrani/GuessTheNumberGame" />
    </div>

    <div class="col-md-6 mb-4">
        <ProjectCard Title="Chat Bot" Description="Console App for visual chat bot"
                     ImageUrl="images/chatbot.png" ProjectLink="https://github.com/hamaildurrani/ConsoleChatBot" />
    </div>
</div>
